* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  vertical-align: top;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #ffffff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
