.about { 
  background-color: $bg-main;

  &__wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 65px 40px 90px 40px;
    display: flex;
    align-items: center;
    
    @include tablet {
      padding: 75px 30px 100px 30px;
      flex-direction: column;
    }

    @include mobile {
      padding: 42px 10px;
    }
  }

  &__info {
    width: 50%;
    padding-top: 10px;

    @include tablet {
      width: 100%;
      padding-top: 0;
    }

    @include mobile {
      width: 90%;
    }

    &-block {
      @include tablet {
        max-width: 430px;
        margin: 0 auto;
      }
    }

    &-title {
      @include font(35px, 46px, 400);
      letter-spacing: 0.06em;
      font-family: $font-title;
      color: $title-col;
      margin-bottom: 25px;
      margin-top: 14px;

      @include tablet {
        margin-top: 0;
      }

      @include mobile {
        @include font(25px, 33px, 400);
        font-family: $font-title;
        text-align: center;        
      }
    }

    &-text {
      @include font(15px, 24px, 400);
      color: $text-col;
      max-width: 430px;
      margin-bottom: 25px;

      @include mobile {
        text-align: justify;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
  }

  &__img-block {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 45px;

    @include tablet {
      order: 1;
      width: 100%;
      padding-left: 0;
      padding-top: 55px;
    }

    @include mobile {
      padding-top: 20px;
      width: 100%;
    }
  }
}